{% extends "base.html" %}

{% block title %} Course Share {% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    <section class="py-5">
        <h1 class="h3 mb-1 text-gray-800">SISP(課程名稱)</h1>
        <p></p>
        <!-- Content Row -->
        <div class="row">
            <div class="col-12">
                <!-- Overflow Hidden -->
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">課程資訊</h6>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>課程宗旨</td>
                                <td>Course will explain the significance of knowledge management and specific practices
                                    to
                                    promote knowledge management.
                                </td>
                            </tr>
                            <tr>
                                <td>課程大綱</td>
                                <td>In addition, the course will also be required for business executives, and the
                                    concept
                                    of knowledge management strategy and development model to assist executives in the
                                    strategic management process, the effective practice of knowledge management
                                    practices.
                                    Operation depends on effective knowledge management system tools, this course will
                                    also
                                    introduce the concept map, VenSim systems thinking tools.
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <!-- Progress Small -->
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">評價</h6>
                    </div>
                    <div class="card-body">
                        <div class="mb-1 small">Normal Progress Bar</div>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <!-- Dropdown No Arrow -->
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">問與答</h6>
                    </div>
                    <div class="card-body">
                        <div class="dropdown no-arrow mb-4">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown (no arrow)
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        Add the <code>.no-arrow</code> class alongside the <code>.dropdown</code>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Overflow Hidden -->
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">學習心得</h6>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>圖</td>
                                <td>user1</td>
                                <td>這門課超棒！老師上課認真...
                                </td>
                            </tr>
                            <tr>
                                <td>圖</td>
                                <td>user2</td>
                                <td>老師會以實際例子來比喻...
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        </div>
        <!-- /.container-fluid -->
    </section>
{% endblock %}